 html{
	height:100%;
	font-family: sans-serif;
}
body {
	    background-color: #ededed;
	    color: #686868;
	    font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;
	    font-size: 14px;
	    line-height: 19.6px;
	    height: 100%;
	    margin:0;
}
a {
	color: #686868;
	text-decoration: none;
	cursor: pointer;	
	background: 0 0;
}
.wraboffset-hide{
	display:none;
}
.wraboffset{
	position:absolute;
	background-color:#1A1A1A;
	filter: alpha(opacity=80); opacity: 0.8;
	width:100%;
	height:100%;
	z-index:2;
}
.content {
	font-size: 150%;
	margin-top: 40%;
	padding: 3em 0;
}
#shclColor{
	width:50px; 
	height:50px; 
	margin:10px auto;
}

.mod-wifi-follow {
	width: 100%;
	background-color: #fff;
	position: relative;
}
.mod-wifi-watch{
	width: 100%;
	background-color: #fff;
	position: fix;
	bottom:0px;
}
.mode-img-parent{
	position: absolute;
	width:100%;
	top:0px;
	z-index:1;
}
.mode-img-sub{
	background-color:#FFF;
	filter: alpha(opacity=50); opacity: 0.5;
	position: absolute;
	text-align: center;
	width: 100%;
}
.mode-img-sub img{
	width:50px;
	height:50px;
	vertical-align:middle;
}
.mod-wifi-follow__content {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom:50px;
}
.mod-wifi-follow__btn {
	display: inline-block ! important;
	padding: 0 40px;
	height: 35px;
	line-height: 35px;
	background-color: #24c400;
	border: 1px solid #24c400;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

.ball {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    animation: spinPulse 1s infinite linear;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
}

.ball1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -40px;
    animation: spinoffPulse 1s infinite linear;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    };
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}




























